name: Test Docker Build

on:
  pull_request:
    branches: [ "main" ]

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # This attempts to build the image but DOES NOT push it to the registry
      - name: Test Build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
